<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Champagne</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="layout">
      <aside class="sidebar" aria-label="Navigation principale">
        <nav class="site-nav">
          <a href="/" class="logo">
            <img src="/img/logo_champagne.png" alt="Champagne" eleventy:ignore width="300">
          </a>
          <ul class="nav-links">
            <li>
              <a href="/blog/">Blog</a>            </li>
            <li>
              <a href="/about/">Le projet</a>
            </li>
            <li>
              <a href="/posts_list/">Tous les posts</a>            </li>
            <li>
              <a href="/contact/">Contact</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="site-main">
        <div class="content">
          {{ content | safe }}
        </div>
        {% include "footer.njk" %}
      </main>
    </div>
  </body>
</html>
