body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  padding: 2rem 2rem 2rem 6rem;
  top: 2rem;
  text-align: left;
  font-family: "Courier New", monospace;
  font-size: larger;
}

.sidebar a {
  text-transform: capitalize;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul a:hover {
  background-color: gold;
}

.sidebar .nav-links {
  padding-left: 5rem;
}

.content {
  flex: 1;
  max-width: 600px;
  padding: 2rem;
  margin-left: 1rem;
  margin-top: 4rem;
}

article {
  margin-bottom: 4rem;
  font-size: 1.05rem;
}

figure {
  margin-bottom: 3rem;
}

header a {
  text-decoration: none;
}

.articles-list {
  font-size: large;
}