---
layout: layout.njk
title: Blog
numberOfLatestPostsToShow: 3
---

<section class="articles-feed" aria-labelledby="news-title">
  {% set latestPosts = collections.posts | reverse | limit(numberOfLatestPostsToShow) %}
  <div class="articles-stack">
    {% for post in latestPosts %}
      <article class="article-card">
        <header>
          <h2 class="article-title">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </h2>
          <div class="article-date">
            <time datetime="{{ post.date | isoDate }}">{{ post.date | parseDate | readableDate }}</time>
          </div>
        </header>
        <p class="article-excerpt">
          {{ post.templateContent | excerpt }}
        </p>
        <a href="{{ post.url }}">Lire la suite →</a>
      </article>
    {% endfor %}
  </div>
</section>