---
layout: layout.njk
title: Index
---

<section class="index-page">
  <p>
    Bienvenu sur le blog de la restauration de Champagne notre cher voilier de 1972.
  </p>
  <p>
    Nous parlerons ici de la restauration au fil de <a href="/blog/">nouvelles</a> et d'articles techniques
  </p>
  <p>
    Mais aussi des projets autour du bateau; <a href="/prochaines-sessions/">sessions de navigation</a> et autres aventures
  </p>
  <figure class="image">
    <picture>
      <img
        eleventy:ignore="eleventy:ignore"
        loading="lazy"
        decoding="async"
        src="/img/june-2025-group.jpg"
        alt="Photo de groupe devant le bateau"
        width="600"></picture>
      <figcaption>La glacière est la clé du projet — juillet 2025</figcaption>
    </figure>
  </section>