---
layout: layout.njk
title: Index
---

<section class="page-section">
  <p>
    Bienvenu sur le blog de la restauration de Champagne notre cher voilier de 1972.
  </p>
  <p>
    Nous parlerons ici de la restauration au fil des nouvelles et des articles techniques
  </p>
  <p>
    Mais aussi des projets passés et à venir autour du bateau; sessions de navigation et plus...
  </p>
  <figure class="image">
    <picture>
      <img
        eleventy:ignore="eleventy:ignore"
        loading="lazy"
        decoding="async"
        src="/img/june-2025-group.jpg"
        alt="Photo de groupe devant le bateau"
        width="600"></picture>
      <figcaption>La glacière est la clé du projet — juillet 2025</figcaption>
    </figure>
  </section>