---
layout: layout.njk
title: Galerie
---

<h1>Galerie de photos</h1>
<div class="gallery">
  <img src="/images/photo1.jpg" alt="Photo 1">
  <img src="/images/photo2.jpg" alt="Photo 2">
  <img src="/images/photo3.jpg" alt="Photo 3">
</div>