---
layout: layout.njk
title: Prochaines Sessions
permalink: /prochaines-sessions/
---

<section>
  <table>
    <caption>
      Sessions de rénovation et navigation à venir
    </caption>
    <thead>
      <tr>
        <th scope="col">
          Dates
        </th>
        <th scope="col">
          Thème
        </th>
        <th scope="col">
          Lieu
        </th>
        <th scope="col">
          Contact
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="session-past">
        <td>
          du 12/01/2026 au 22/01/2026
        </td>
        <td>
          Electricité
        </td>
        <td>
          Cabanes de FLeury (11)
        </td>
        <td>
          Raph
        </td>
      </tr>
      <tr class="session-past">
        <td>
          du 03/03/2026 au 16/02/2026
        </td>
        <td>
          Aménagement intérieur
        </td>
        <td>
          Cabanes de FLeury (11)
        </td>
        <td>
          Raph
        </td>
      </tr>
      <tr>
        <td>
          avril 2026
        </td>
        <td>
          Réparation du ponton
        </td>
        <td>
          Cabanes de Fleury (11)
        </td>
        <td>
          Raph
        </td>
      </tr>
    </tbody>
  </table>
</section>